<h3><%=@staff.type%> #<%=@staff.id%></h3>
<b>Name: </b><%=@staff.name%><br>
<b>Address: </b><%=@staff.street%><%=@staff.city%><%=@staff.province%><br>

<h4><u>Contact Information</u></h4>
<b>Email: </b><%=@staff.email%><br>
<b>Landline: </b><%=@staff.landline%><br>
<b>Mobile: </b><%=@staff.mobile%><br>

<h4><u>Other Details</u></h4>
<% if @staff.birthday != nil %>
<b>Birthday: </b><%=@staff.birthday.to_date%><br>
<b>Age: </b><%=@staff.age%><br>
<% end %>
<b>Sex: </b><%=@staff.sex%><br>

<% if @staff.services != [] %>
	<h4><u>Services</u></h4>
	<% for x in @staff.services %>
	<h5><%=x.serviceName%></h5>
	<%=x.serviceNature %><br>
	<%=x.hours %><br>
	<%=x.year %><br>
	<% end %>
<% end %>