<h3> Creating new <%=@type%> </h3>

 <%= form_for(@person) do |f| %>
 <div class="row"><div class="span9"><div class="well">

      <%= f.label :name %><%= f.text_field :name %>

      <div class="row">
      <div class="span4"><%= f.label :street %><%= f.text_field :street %></div>
      <div class="span2"><%= f.label :city %><%= f.text_field :city %></div>
      <div class="span2"><%= f.label :province %><%= f.text_field :province %></div>
      </div>

      <h4> Contact Information </h4>
      <div class="row">
      <div class="span3"><%= f.label :email %><%= f.text_field :email %></div>
      <div class="span2"><%= f.label :landline %><%= f.text_field :landline %></div>
      <div class="span3"><%= f.label :mobile %><%= f.text_field :mobile %></div>
      </div>

       <%= f.hidden_field :age %>
</div></div></div>
<hr>


<div class="row"><div class="span12">

    	 <%= render "layouts/individual", :f => f    if @type=='Individual' %>
       <%= render "layouts/alumni", :f => f        if @type=='Alumni' %>
       <%= render "layouts/org", :f => f           if @type=='Organization' %>
       <%= render "layouts/student", :f => f       if @type=='Student' %>
       <%= render "layouts/staff", :f => f         if @type=='Staff' %>
       <%= render "layouts/counselee", :f => f     if @type=='Counselee' %>
       <%= render "layouts/counselor", :f => f     if @type=='Counselor' %>
</div>
</div>

       <div class="row">
       <div class="span offset9"><%= f.submit "Confirm", class: "btn btn-large btn-primary" %></div>
       </div>

<% end %>

