<div class="fields">
<b>Subject Info </b> 

<div class="row">
	<div class="span2"><%= f.label 'Name' %><%= f.text_field :subjectName %></div>
	<div class="span1"><%= f.label 'Grade' %><%= f.text_field :grade %></div>
</div>
<p><%= link_to_remove_fields "remove", f %> </p>
</div>
