<h3><%=@student.type%> #<%=@student.id%></h3>
<b>Name: </b><%=@student.name%><br>
<b>Address: </b><%=@student.street%><%=@student.city%><%=@student.province%><br>

<h4><u>Contact Information</u></h4>
<b>Email: </b><%=@student.email%><br>
<b>Landline: </b><%=@student.landline%><br>
<b>Mobile: </b><%=@student.mobile%><br>

<h4><u>Other Details</u></h4>
<%if @student.birthday != nil%> 
<b>Birthday: </b><%=@student.birthday.to_date%><br>
<b>Age: </b><%=@student.age%><br>
<% end %>
<b>Sex: </b><%=@student.sex%><br>

<% if @student.programs != [] %>
	<h4><u>Programs</u></h4>
	<% for x in @student.programs %>
	<h5><%=x.programName%></h5>
	<%=x.startYear %> - <%=x.endYear%><br>
	<% end %>
<% end %>

<% if @student.subject_infos != [] %>
	<h4><u>Subjects</u></h4>
	<% for x in @student.subject_infos %>
	<h5><%=x.subjectName%></h5>
	<%=x.grade %><br> 
	<% end %>
<% end %>