<fieldset>
<div class='fields'>
<b>Spouse</b> 
<div class="row">
	<div class='span2'><%= f.label :name %><%= f.text_field :name %></div>
	<div class='span1'><%= f.label :age %><%= f.text_field :age %></div>
</div>

<div class='row'><div class='span3'>
	
	<%= f.label :landline %><%= f.text_field :landline %>
	<%= f.label :mobile %><%= f.text_field :mobile %>
	<%= f.label :email %><%= f.text_field :email %>
	<%= f.label :religion %><%= f.text_field :religion %>

	<%= f.label 'Highest Educational Attainment' %>
	<%= f.text_field :education %>
</div></div>

 <%= f.hidden_field :_destroy %>
 <%= link_to "remove", '#', class: "remove_fields" %>
</div>
</fieldset>