<fieldset>
<div class='fields'>
<b>Work Experience</b> 

<div class="row">
	<div class="span2"><%= f.label 'Previous Work' %><%= f.text_field :previousWork %></div>
	<div class="span2"><%= f.label 'Position Held' %><%= f.text_field :positionHeld %></div>
	<div class="span1"><%= f.hidden_field :_destroy %><%= link_to "remove", '#', class: "remove_fields" %></div>
</div>

</div>
</fieldset>