
<!-- Print report shits -->
<h3><%=@counselor.type%> #<%=@counselor.id%></h3>
<b>Name: </b><%=@counselor.name%><br>
<b>Address: </b><%=@counselor.street%><%=@counselor.city%><%=@counselor.province%><br>

<h4><u>Contact Information</u></h4>
<b>Email: </b><%=@counselor.email%><br>
<b>Landline: </b><%=@counselor.landline%><br>
<b>Mobile: </b><%=@counselor.mobile%><br>

<h4><u>Other Details</u></h4>
<% if @counselor.birthday != nil %>
<b>Birthday: </b><%=@counselor.birthday.to_date%><br>
<b>Age: </b><%=@counselor.age%><br>
<% end %>
<b>Sex: </b><%=@counselor.sex%><br>
<b>Marriage Status: </b><%=@counselor.marriage_status%><br>
<%if @counselor.marriage_date != nil %>
<b>Marriage Date: </b><%=@counselor.marriage_date.to_date%><br>
<%end%>
<b>Ages of Children: </b><%=@counselor.childAges%><br>

<% if @counselor.spouses != [] %>
	<h4><u>Spouse's Details</u></h4>
	<% for x in @counselor.spouses %>
		<h5><%=x.name %></h5><br>
		<%=x.age %><br>
		<%=x.education %><br>
		<%=x.religion %> <br>
		<%=x.email %><br>
		<%=x.landline %><br>
		<%=x.mobile %> <br>
	<%end%>
<%end%>

<% if @counselor.academic_records != [] %>
	<h4><u>Academic Records</u></h4>
	<% for x in @counselor.academic_records %>
	<h5><%=x.degree%></h5>
	<%=x.level %><br>
	<%=x.school %> <br>
	<%=x.periodAttended %><br>
	<% end %>
<% end %>

<% if @counselor.clusters != [] %>
	<h4><u>Clusters</u></h4>
	<% for x in @counselor.clusters %>
	<h5><%=x.clusterName%></h5>
	<%=x.clusterInvolvement %><br>
	<%=x.possibleInvolvement %> <br>
	<% end %>
<% end %>

<% if @counselor.availabilities != [] %>
	<h4><u>Availabilities</u></h4>
	<% for x in @counselor.availabilities %>
	<b><%=x.day%></b> 
	<%=x.startTime.to_time %>
	<%=x.endTime.to_time %>
	at <%=x.location %>
	<% end %>
<% end %>

<% if @counselor.counseling_experiences != [] %>
	<h4><u>Counseling Experiences</u></h4>
	<% for x in @counselor.counseling_experiences %>
	<h5><%=x.courseName%></h5>
	<%=x.conductedBy %><br>
	<% end %>
<% end %>

<% if @counselor.work_experiences != [] %>
	<h4><u>Work Experiences</u></h4>
	<% for x in @counselor.work_experiences %>
	<h5><%=x.previousWork%></h5>
	<%=x.positionHeld %><br>
	<% end %>
<% end %>