<fieldset>
<div class='fields'>
<b>Program</b> 
<div class="row">
	<div class="span3"><%= f.label 'Name' %><%= f.text_field :programName %></div>
	<div class="span1"><%= f.label 'Start' %><%= f.text_field :startYear %></div>
	<div class="span1"><%= f.label 'End' %><%= f.text_field :endYear %></div>
	<div class='span1'><%= f.hidden_field :_destroy %><%= link_to "remove", '#', class: "remove_fields" %></div>
</div>

</div>
</fieldset>
