
<!-- Print report shits -->
<h3><%=@alumni.type%> #<%=@alumni.id%></h3>
<b>Name: </b><%=@alumni.name%><br>
<b>Address: </b><%=@alumni.street%><%=@alumni.city%><%=@alumni.province%><br>

<h4><u>Contact Information</u></h4>
<b>Email: </b><%=@alumni.email%><br>
<b>Landline: </b><%=@alumni.landline%><br>
<b>Mobile: </b><%=@alumni.mobile%><br>

<h4><u>Other Details</u></h4>
<% if @alumni.birthday != nil %>
<b>Birthday: </b><%=@alumni.birthday.to_date%><br>
<b>Age: </b><%=@alumni.age%><br>
<% end %>
<b>Sex: </b><%=@alumni.sex%><br>
<b>Affiliation with CeFaM: </b><%=@alumni.affiliation%>

