<h3><%=@individual.type%> #<%=@individual.id%></h3>
<b>Name: </b><%=@individual.name%><br>
<b>Address: </b><%=@individual.street%><%=@individual.city%><%=@individual.province%><br>

<h4><u>Contact Information</u></h4>
<b>Email: </b><%=@individual.email%><br>
<b>Landline: </b><%=@individual.landline%><br>
<b>Mobile: </b><%=@individual.mobile%><br>

<h4><u>Other Details</u></h4>
<b>Affiliation with CeFaM: </b><%=@individual.affiliation%><br>
<% if @individual.birthday != nil %>
<b>Birthday: </b><%=@individual.birthday.to_date%><br>
<b>Age: </b><%=@individual.age%><br>
<% end %>
<b>Sex: </b><%=@individual.sex%><br>

<% if @individual.services != [] %>
	<h4><u>Services Availed</u></h4>
	<% for x in @individual.services %>
	<h5><%=x.serviceName%></h5>
	<%=x.serviceNature %><br>
	<%=x.hours %><br>
	<%=x.year %><br>
	<% end %>
<% end %>