<fieldset>
	<div class='fields'>
	<b>Other</b> 
	<div class='row'>
	<div class='span2'><%= f.label :name %><%= f.text_field :name %></div>
	<div class='span1'><%= f.label :age %><%= f.text_field :age %></div>
	</div>	

	<div class='row'>
	<div class='span2'><%= f.label :occupation %><%= f.text_field :occupation %></div>
	<div class='span2'><%= f.label :relation %><%= f.text_field :relation %></div>
	</div>

  <%= f.hidden_field :_destroy %>
  <%= link_to "remove", '#', class: "remove_fields" %>
</div>
</fieldset>
