
<!-- Print report shits -->
<h3><%=@counselee.type%> #<%=@counselee.id%></h3>
<b>Name: </b><%=@counselee.name%><br>
<b>Address: </b><%=@counselee.street%><%=@counselee.city%><%=@counselee.province%><br>

<h4><u>Contact Information</u></h4>
<b>Email: </b><%=@counselee.email%><br>
<b>Landline: </b><%=@counselee.landline%><br>
<b>Mobile: </b><%=@counselee.mobile%><br>

<h4><u>Other Details</u></h4>
<% if @counselee.birthday != nil %>
<b>Birthday: </b><%=@counselee.birthday.to_date%><br>
<b>Age: </b><%=@counselee.age%><br>
<% end %>
<b>Sex: </b><%=@counselee.sex%><br>
<b>Occupation: </b><%=@counselee.occupation%><br>
<b>Highest Educational Attainment: </b><%=@counselee.education%><br>
<b>Religion: </b><%=@counselee.religion%><br>
<b>Marriage Status: </b><%=@counselee.marriage_status%><br>
<%if @counselee.marriage_date != nil%>
<b>Marriage Date: </b><%=@counselee.marriage_date.to_date%><br>
<%end%>

<h4><u>Previous Counseling Session</u></h4>
<%if @counselee.previousCounseling_when != nil%>
<b>Name of Counselor: </b><%=@counselee.previousCounseling_name%><br>
<b>Date of Session: </b><%=@counselee.previousCounseling_when.to_date%><br>
<b>Location of Session: </b><%=@counselee.previousCounseling_where%><br>
<b>Result of Session: </b><%=@counselee.previousCounseling_result%><br>
<%else%>
<br>Counselee has no previous counseling session.
<%end%>

<% if @counselee.spouses != [] %>
	<h4><u>Spouse's Details</u></h4>
	<% for x in @counselee.spouses %>
		<h5><%=x.name %></h5><br>
		<%=x.age %><br>
		<%=x.education %><br>
		<%=x.religion %> <br>
		<%=x.email %><br>
		<%=x.landline %><br>
		<%=x.mobile %> <br>
	<%end%>
<%end%>

<% if @counselee.others != [] %>	
	<h4><u>Other Living At Home</u></h4>
	<% for x in @counselee.others %>
		<h5><%=x.name %></h5><br>
		<%=x.age %><br>
		<%=x.occupation %><br>
		<%=x.relation %><br>
	<%end%>
<% end %>

<% if @counselee.medications != [] %>
	<h4><u>Medication</u></h4>
	<% for x in @counselee.medications %>
		<h5><%=x.medicationName %></h5><br>
		<%=x.dosage %><br>
	<%end%>
<% end %>