<h3><%=@org.type%> #<%=@org.id%></h3>
<b>Name: </b><%=@org.name%><br>
<b>Address: </b><%=@org.street%><%=@org.city%><%=@org.province%><br>

<h4><u>Contact Information</u></h4>
<b>Email: </b><%=@org.email%><br>
<b>Landline: </b><%=@org.landline%><br>
<b>Mobile: </b><%=@org.mobile%><br>

<h4><u>Other Details</u></h4>
<b>Contact Person: </b><%=@org.contact_person%><br>
<b>Nature of Organization: </b><%=@org.org_nature%><br>
<b>Official's Name: </b><%=@org.officials_name%><br>
<b>Official's Designation: </b><%=@org.officials_designation%><br>

<% if @org.services != [] %>
	<h4><u>Services Availed</u></h4>
	<% for x in @org.services %>
	<h5><%=x.serviceName%></h5>
	<%=x.serviceNature %><br>
	<%=x.hours %><br>
	<%=x.year %><br>
	<% end %>
<% end %>