<%= f.hidden_field :isCounselee, value: true%>

<%= f.label :occupation %>
<%= f.text_field :occupation %>

<%= f.label :education %>
<%= f.text_field :education %>

<%= f.label :religion %>
<%= f.text_field :religion %>

<%= f.label :previousCounseling_name %>
<%= f.text_field :previousCounseling_name %>

<%= f.label :previousCounseling_when %>
<%= f.date_select :previousCounseling_when %>

<%= f.label :previousCounseling_where %>
<%= f.text_field :previousCounseling_where %>

<%= f.label :previousCounseling_result %>
<%= f.text_field :previousCounseling_result %>

<%= f.label :last_checkup_date %>
<%= f.date_select :last_checkup_date %>

<%= f.label :marriage_date %>
<%= f.date_select :marriage_date %>

<%= f.label :marriage_status %>
<%= f.text_field :marriage_status %>

<h3> Problem Areas </h3>
<%= f.fields_for :problems do |ff| %>
<div class="row">
<div class='span4'>
	<%= ff.check_box :premarital, value: true %> Premarital<br>
	<%= ff.check_box :marriage  %> Marriage<br>
	<%= ff.check_box :family %> Family<br>
	<%= ff.check_box :parentChild %> Parent-Child<br>
	<%= ff.check_box :child %> Child<br>
	<%= ff.check_box :personal %> Personal<br>
</div>
<div class='span4'>
	<%= ff.label :others%>
	<%= ff.text_area :others, rows: 3 %> 
<%end%>
</div></div>
<hr>

<div class='span4'>
<h3> Spouse </h3>
<%= f.fields_for :spouses do |ff|%>
	<%= render 'spouse_fields', :f => ff %><br>
<%end%>
<p><%= f.link_to_add "Add entry", :spouses %></p>
</div>

<div class='span4'>
<h3> Others </h3>
<%= f.fields_for :others do |ff| %>
	<%= render 'other_fields', :f => ff %><br>
<%end%>
<p><%= f.link_to_add "Add entry", :others %></p>
</div>

<div class='span3'>
<h3> Medication </h3>
<%= f.fields_for :medications do |ff| %>
	<%= render 'medication_fields', :f => ff %><br>
<%end%>
<p><%= f.link_to_add "Add entry", :medications %></p>
</div>




