<%= f.hidden_field :isCounselee, value: true%>
<div class='row'><div class='span4'>
<%= f.label :birthday %><%= f.date_select :birthday,{start_year: 1940, prompt: true, order:[:month,:day,:year]}, {class:'horDate'} %>
</div></div>

<div class='row'>
<div class='span2'><%= f.label :occupation %><%= f.text_field :occupation %></div>
<div class='span3'><%= f.label 'Highest Educational Attainment' %><%= f.text_field :education %></div>
<div class='span2'><%= f.label :religion %><%= f.text_field :religion %></div>
</div>

<h4>Previous Counseling Experience</h4>
<div class='row'>
<div class='span5'>
<div class='span2'><%= f.label 'Name' %><%= f.text_field :previousCounseling_name %></div>
<div class='span2'><%= f.label 'Where' %><%= f.text_field :previousCounseling_where %></div>
<div class='span3'><%= f.label 'Date' %><%= f.date_select :previousCounseling_when,{prompt: true, order:[:month, :year]}, 
	{class:'horDate'}%></div>
</div>
<div class='span 3'>
<div class='span4'><%= f.label 'Result' %><%= f.text_area :previousCounseling_result, rows: 3 %></div>
</div>
</div>

<h4> Problem Areas </h4>
<%= f.fields_for :problems do |ff| %>
<div class="row">
<div class='span2 offset1'>
	<%= ff.check_box :premarital %> Premarital<br>
	<%= ff.check_box :marriage  %> Marriage<br>
	<%= ff.check_box :family %> Family<br>
	<%= ff.check_box :parentChild %> Parent-Child<br>
	<%= ff.check_box :child %> Child<br>
	<%= ff.check_box :personal %> Personal<br>
</div>
<div class='span4'>
	<%= ff.label :others%>
	<%= ff.text_area :others, rows: 3 %> 
<%end%>
</div></div>
<hr>

<div class="row">

<div class='span4'>	
<h4> Spouse </h4>
<%= f.label :marriage_date %>
<%= f.date_select :marriage_date,{prompt: true, order:[:month,:day,:year]}, {class:'horDate'}%>
<%= f.label :marriage_status %><%= f.text_field :marriage_status %>
<%= f.fields_for :spouses do |ff|%>
      <%= render 'spouse_fields', :f => ff %>
<%end%>
<br><%= link_to_add_fields "Add more", f, :spouses %></div>

<div class='span4'>
<h4> Others </h4>
<%= f.fields_for :others do |ff| %>
      <%= render 'other_fields', :f => ff %>
<%end%>
<br><%= link_to_add_fields "Add more", f, :others %></div>

<div class='span4'>
<h4> Medication </h4>
<%= f.label :last_checkup_date %>
<%= f.date_select :last_checkup_date,{prompt: true, order:[:month,:day,:year]}, {class:'horDate'}%>
<%= f.fields_for :medications do |ff| %>
      <%= render 'medication_fields', :f => ff %>
<%end%>
<br><%= link_to_add_fields "Add more", f, :medications %></div>

</div>




