  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Image Home Logo", '#', id: "logo" %>
          <nav>

            <ul class="nav pull-right">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Help", help_path %></li>

              <!--Visibile only when signed in-->
              <% if signed_in? %>

              <li><%= link_to "List users", users_path %></li>
              <li><%= link_to "Search", '#' %></li>
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Add Entry <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Client: Individual", new_individual_path %></li>
                <li><%= link_to "Client: Organization", new_organization_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Counselor", new_counselor_path %></li>
                <li><%= link_to "Counselee", new_counselee_path %></li>
                <li class="divider"></li>
                <li><%= link_to "Staff", new_staff_path %></li>
                <li><%= link_to "Student", new_student_path %></li>
                <li><%= link_to "Alumni", new_alumni_path %></li>
            </ul>

              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
       
              <%else%>
              <li><%= link_to "Sign in", signin_path %></li>
              <%end%>
            </ul>


          </nav>
        </div>
      </div>
    </header>