<div class="span 8 offset 2">

	<div class="row">
	<div class="span4"><%= f.label :affiliation %><%= f.text_field :affiliation %></div>

	 <div class="span"><%= f.label :sex %>
     <%= f.radio_button :sex, "m"%> Male &nbsp 
     <%= f.radio_button :sex, "f"%> Female
 	 </div></div>

 	 <div class="row"><div class='span5'>
	 <%= f.label :birthday %><%= f.date_select :birthday,{start_year: 1940, prompt: true, order:[:month,:day,:year]}, {class:'horDate'} %>
	 	 </div></div>


	 <h4>List of Services Availed</h4>
	 <% if @person.services == nil %>
	 <p> No services have been availed</p>
	 <%else%>
	 <table>
	 	 <tr>
			<th>Service Name &nbsp&nbsp</th>
			<th>Service Nature &nbsp&nbsp</th>
			<th>Year availed &nbsp&nbsp</th>
		 </tr>
		 <% for x in @person.services %>
		 <tr>
			<td><%=x.serviceName%></td>
			<td><%=x.serviceNature%></td>
			<td><%=x.year%></td>
		 </tr>
		 <%end%>
	</table>
	 <%end%>

</div>

	

