<div class="span 8 offset 2">

	<div class="row">
	<div class="span4"><%= f.label :affiliation %><%= f.text_field :affiliation %></div>

	 <div class="span"><%= f.label :sex %>
     <%= f.radio_button :sex, "m"%> Male &nbsp 
     <%= f.radio_button :sex, "f"%> Female
 	 </div></div>

 	 <div class="row"><div class='span2'>
	 <%= f.label :birthday %><%= f.date_select(:birthday,start_year: 1940) %>
	 </div></div>

	 <h3>List of Services Availed</h3>
</div>

	

